{
    "presets": [
      "@babel/preset-typescript"
    ],
    "plugins": [
      ["module:@babel/plugin-proposal-decorators", { "legacy": true }],
      "module:@babel/plugin-proposal-class-properties",
      "module:@babel/plugin-proposal-private-methods",
      "babel-plugin-module-extension-resolver"
    ]
  }
