name: docker-based-ci
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.0.2
      - name: Set ENV variables
        run: |
          cat .env >> $GITHUB_ENV
          echo "REGISTRY=ghcr.io" >> $GITHUB_ENV
          echo "REPO_OWNER=$(echo ${GITHUB_REPOSITORY%/*})" >> $GITHUB_ENV
          echo "REPO_NAME=$(echo ${GITHUB_REPOSITORY#*/})" >> $GITHUB_ENV
          echo "BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/} | tr / -)" >> $GITHUB_ENV
          echo "DOCKER_TAG=$(echo ${GITHUB_REPOSITORY#*/}):$(echo ${GITHUB_REF#refs/heads/} | tr / -)" >> $GITHUB_ENV
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.5.0
        with:
          install: true
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2.0.0
        with:
          registry: ${{env.REGISTRY}}
          username: ${{env.REPO_OWNER}}
          password: ${{secrets.CR_PAT}}
      - name: Build and push
        uses: docker/build-push-action@v3.1.1
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{env.REGISTRY}}/${{env.REPO_OWNER}}/${{env.DOCKER_TAG}}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Docker-compose pull
        run: docker-compose pull
      - name: Docker-compose up
        run: |
          docker-compose -f docker-compose.yaml up -d
      - name: Check running containers
        run: docker ps -a
      - name: Execute tests
        run: |
          docker-compose exec -T memoria npm test
      - name: Upload code coverage to codecov
        run: |
          docker-compose exec -T memoria codecov -f coverage/lcov.info -t ${{secrets.CODECOV_TOKEN}}
